= simple_form_for @concert, url: (@concert.new_record? ? admin_concerts_path : admin_concert_path(@concert)) do |f|
  = f.input :date, as: :date, autofocus: true
  = f.input :town
  = 'Country'
  = f.country_select('country')
  = f.input :hall, required: false
  = f.input :works_by, required: false
  = f.input :description
  .form-actions
    = f.button :submit, (@concert.new_record? ? 'Ajouter' : 'Modifier')