!!!
%html
  %head
    %title Ziq
    = stylesheet_link_tag 'admin/admin', media: 'all'
    = csrf_meta_tags

  %body
    - flash.keys.each do |key|
      = flash[key]

    = yield
    = javascript_include_tag 'application'